.container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;
}

.credentialContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
}

.credentialSpan {
  display: block;
  font-family: Overpass, sans-serif;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 22px;
  width: 80%;
  max-width: 400px;
  word-break: break-all;
}

.credentialTitle {
  max-width: 100px;
  width: 20%;
  font-family: Overpass, sans-serif;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 22px;
  text-align: left;
}
