.container {
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--body);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  font-family: Overpass, sans-serif;
  color: var(--text);
  position: relative;
}
