.container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
}

.verificationMethod {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 10px;
  height: fit-content;
}

.title {
  width: 90px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 22px;
  text-align: flex-start;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 22px;
  word-break: break-all;
}

.text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 400px;
}

.textLink {
  cursor: pointer;
  color: var(--web3-name);
  text-decoration: none;
}
