.container {
  composes: container from '../Results/Results.module.css';
}

.title {
  composes: title from '../Results/Results.module.css';
}

.text {
  composes: text from '../Results/Results.module.css';
}

.wrapper {
  composes: wrapper from '../Results/Results.module.css';
  justify-content: space-between;
}

.accountsContainer {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  width: 80%;
  gap: 10px;
}

.infoBtn {
  composes: infoBtn from '../Search/Search.module.css';
  height: 20px;
}

.titleWrapper {
  composes: titleWrapper from '../Results/Results.module.css';
}

.modal {
  composes: modal from '../Results/Results.module.css';
}

.modalText {
  composes: modalText from '../Results/Results.module.css';
}

.top {
  composes: top from '../Search/Search.module.css';
}
