.credentialContainer {
  composes: credentialContainer from '../CredentialDetails/CredentialDetails.module.css';
}

.container {
  composes: container from '../CredentialDetails/CredentialDetails.module.css';
}

.credentialTitle {
  composes: credentialTitle from '../CredentialDetails/CredentialDetails.module.css';
}

.credentialDescription {
  composes: credentialDescription from '../CredentialDetails/CredentialDetails.module.css';
}

.invalid {
  composes: valid from '../CredentialDetails/CredentialDetails.module.css';
}
