.container {
  composes: container from '../Results/Results.module.css';
  align-items: center;
}

.title {
  composes: title from '../Results/Results.module.css';
}

.text {
  composes: text from '../Results/Results.module.css';
}

.error {
  composes: text;
  padding-right: 24px;
  font-style: italic;
  font-weight: bold;
  background: url('../../ImageAssets/attention.svg') no-repeat right;
}

.wrapper {
  composes: wrapper from '../Results/Results.module.css';
  align-items: center;
}

.infoBtn {
  composes: infoBtn from '../Results/Results.module.css';
}

.titleWrapper {
  composes: titleWrapper from '../Results/Results.module.css';
  align-items: center;
}

.modal {
  composes: modal from '../Results/Results.module.css';
}

.modalText {
  composes: modalText from '../Results/Results.module.css';
}

.top {
  composes: top from '../Results/Results.module.css';
}
