.footer {
  background: url('../../ImageAssets/footer_light.svg') no-repeat center/cover;
  min-height: calc(410rem / 16);
  width: 100%;
  display: flex;
  place-content: center;
  margin-top: auto;
}

:global(html.dark) .footer {
  background: url('../../ImageAssets/footer_dark.svg') no-repeat center/cover;
}

.content {
  max-width: 740px;
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.75rem 0;
  font-size: 0.875rem;
}

.anchor {
  color: var(--web3-name);
}

.anchorActive {
  composes: anchor;
  color: rgb(var(--link-disabled-rgb) / 50%);
  pointer-events: none;
  text-decoration: none;
}

.imprint {
  display: flex;
  flex-direction: column;
}

.imprintHeading {
  font-size: inherit;
  font-weight: bold;
  margin: 0.8rem 0;
}

.imprintLine {
  margin: 0;
}

.spacedLine {
  margin: 0;
  margin-top: 0.8rem;
}

.kiltLogo {
  margin-top: 10px;
  width: 80px;
  fill: var(--text);
}
