.type {
  overflow-wrap: break-word;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 17px;
  margin: 5px 0 5px 22px;
  color: var(--text);
}

.endpoint {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 99%;
  margin: 2px 0;
  border-radius: 5px 5px 15px 15px;
  align-self: center;
  background-color: var(--search-background);
  min-height: 60px;
  position: relative;
}

.urlContainer {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin-left: 8px;
  margin-right: 10px;
  margin-top: 20px;
  max-width: 450px;
  width: 70%;
}

.url {
  display: block;
  font-family: Overpass, sans-serif;
  font-size: 16px;
  letter-spacing: 0.11px;
  line-height: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.button {
  position: absolute;
  bottom: 15px;
  right: 10px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.11px;
  line-height: 17px;
  text-align: center;
  color: var(--text);
  justify-content: center;
  height: 28px;
  max-width: 124px;
  width: 20%;
  border: 2px solid #df8601;
  border-radius: 15px;
  background-color: var(--fetch-btn);
}

@media (max-width: 400px) {
  .button {
    font-size: 12px;
  }
}

.loader {
  stroke: var(--text);
  position: absolute;
  left: 10px;
  top: 5px;
  height: 13px;
  width: 20px;
}

.seperator {
  border: 1px dashed var(--web3-name);
  margin-top: 18px;
  width: 100%;
  opacity: 0.5;
}

.didDocument {
  composes: container from '../DidSection/DidSection.module.css';
  margin-top: 20px;
  justify-content: flex-start;
}

.endpoints {
  composes: wrapper from '../DidSection/DidSection.module.css';
  width: 620px;
}

.title {
  composes: title from '../DidSection/DidSection.module.css';
}

.titleWrapper {
  composes: titleWrapper from '../DidSection/DidSection.module.css';
  align-self: start;
}

.infoBtn {
  composes: infoBtn from '../DidSection/DidSection.module.css';
}

.endpointWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: var(--header-secondary);
  width: 100%;
  box-shadow: 0 6px 8px 0 rgb(var(--black-rgb) / 25%);
  margin-bottom: 20px;
}

.modalText {
  composes: text from '../Search/Search.module.css';
}

.top {
  composes: top from '../Search/Search.module.css';
}

.modal {
  composes: modal from '../Search/Search.module.css';
  left: -16px;
  top: 20px;
}

.modalText::after {
  right: 17px;
}

/* Variant : top
  ------------------------------------------ */

/* creates the larger triangle */
.modalText.top::before {
  left: 10px;
  right: auto;
}

/* creates the smaller  triangle */
.modalText.top::after {
  left: 11px;
  right: auto;
}
