.container {
  display: flex;
  flex-flow: row wrap;
  max-width: 740px;
  width: 90%;
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
  margin-top: 50px;
}

.note {
  max-width: 100px;
  width: 20%;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 22px;
  text-align: left;
}

.claimW3NSteps {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  min-width: 250px;
  gap: 7px;
}

.step {
  word-break: break-all;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 22px;
}

.bottomMarginStep {
  composes: claimW3NSteps;
  margin-bottom: 15px;
}

.link {
  color: var(--web3-name);
}
