@font-face {
  font-family: Overpass;
  src: url('./Fonts/Overpass-Regular.woff2') format('woff2');
}

:root {
  font-family:
    Overpass,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

html {
  --body: #fff;
  --web3-name: #2d8b00;
  --search-background: #eaeaea;
  --search-btn: #df8601;
  --header-secondary: #2d8b00;
  --header-bottom: #d8d8d8;
  --search-bar: #d8d8d8;
  --text: #0d0d0d;
  --header-text: #f3f3f3;
  --take-tour: #2d9403;
  --dark-grey: #322b2b;
  --link-disabled-rgb: 13 13 13;
  --fetch-rgb: 45 139 0;
  --gradient3-rgb: 255 255 255;
  --gradient2-rgb: 45 139 0;
  --seperator-rgb: 69 69 69;
  --gradient1-rgb: 45 139 0;
  --gradient4-rgb: 37 102 6;
  --gradient5-rgb: 22 48 10;
  --gradient6-rgb: 13 13 13;
  --modal-bg: var(--header-text);
  --black-rgb: 0 0 0;
  --fetch-btn: var(--header-text);
}

html.dark {
  --body: #000;
  --web3-name: #47e000;
  --search-background: #242424;
  --search-btn: #df8601;
  --header-secondary: #256606;
  --header-bottom: #454545;
  --search-bar: #d8d8d8;
  --text: #f3f3f3;
  --header-text: #f3f3f3;
  --take-tour: #2d7011;
  --link-disabled-rgb: 255 255 255;
  --footer: #181818;
  --modal-bg: #14280b;
  --fetch-btn: #2d1f0b;
}
